<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2"></div>
  <div class="page__content shadow p-3 position-relative">
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title">Order History</h4>
                <p class="card-category"></p>
              </div>
              <div class="card-body">
                <div class="table-responsive " >
                  <table class="table">
                    <thead class="text-primary">
                      <th>No</th>
                      <th>Product Name</th>
                      <th>Order Date</th>
                      <th>Total Price</th>
                      <th>State</th>
                      <th></th>
                    </thead>
                    <div class="text-center w-100" style="display: flex;justify-content: center"  *ngIf="loading">
                      <div class="spinner-border" role="status">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                    <tbody *ngIf="!loading">
                      <tr *ngFor="let item of carts | paginate: { itemsPerPage: limit, currentPage: page, totalItems: totalLength }, let i = index ">
                        <td>{{i+1}}</td>
                        <td><div *ngFor="let pro of item.products">{{pro.productName}}, SL: {{pro.quantity}}</div></td>
                        <td>{{item.timeOrder|date}}</td>
                        <td class="text-primary">{{item.total |number: '2.'}}</td>
                        <td>{{item.state}}</td>
                        <td>
                          <form>
                            <input name="login" id="login" style="margin-right: 5px;" type="button" *ngIf="item.state ==='unconfirmed'"
                              (click)="update(item.id)" value="Cancel" />
                              <app-detail-cart [id]="item.id"></app-detail-cart>
                          </form>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <nav aria-label="Page navigation example">
                    <ul class="pagination">
                    <pagination-controls class="text-center" (pageChange)="page = $event"></pagination-controls>
                  <select class="page-link" [(ngModel)]="limit">
                    <option value=5>5</option>
                    <option value=10>10</option>
                    <option value=15>15</option>
                  </select>
                  </ul>
                </nav>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
