<app-topbar></app-topbar>
<app-navbar></app-navbar>
<div class="container p-5">
  <div class="text-center w-100"  *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <div id="errorMsg" *ngIf="errorMessage && !loading">
    <span>{{errorMessage}}</span>
  </div>
  <div id="successMsg" *ngIf="successMessage && !loading">
    <span>{{successMessage}}</span>
  </div>
  <form class="passform" [formGroup]="resetPasswordForm" (ngSubmit)="changePassword(resetPasswordForm)">
      <div class="form-group mb-3">
        <input type="password" class="form-control border-light" id="newpassword" formControlName="password" placeholder="New Password">
      </div>
      <div class="form-group mb-3">
        <input type="password" class="form-control border-light" id="confirmpassword" formControlName="cnpassword" placeholder="Nhập lại mật khẩu mới">
      </div>
      <button type="submit" class="btn btn-primary btn-sm">Reset Password</button>
  </form>
</div>
<app-footer></app-footer>
